.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav-li {
    float: left;
  }
  
  .nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-li a:hover {
    background-color: #111;
  }

  .content {
    margin: auto;
    padding: auto;
    margin-bottom: 0px;
    width: 60vw;
    border: 2px solid blue;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: 2px black dashed;
    padding: 4px;
}