
<!DOCTYPE html>
<html>
    <head>
        <title>My Flask App</title>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <div class="nav-container">
        <ul class="navbar">
            {% for item in ["Home", "Personal", "Interests", "CV", "Tech"] %}
                <li><a class="nav-item" href="{{url_for(item.lower())}}">{{item}}</a></li>
            {% endfor %}
        </ul>
        </div>
        {% block body %} Base Body {% endblock %}
    </body>
</html>