{% from 'components/article.html' import Article %}
{% from 'components/newtab.html' import Newtab %}
{% extends "base.html" %}
{% block body %}
{% call Article("docker.svg") %}
<h1>{{Newtab("/dockerhome", "Docker")}}</h1>
<p class="content">Docker is a set of platform as a service (PaaS) products that use OS-level virtualization 
to deliver software in packages called containers. The service has both free and premium tiers. 
The software that hosts the containers is called Docker Engine
</p>
{% endcall %}
{% endblock %}